header {
    font-size: 2em;
}

img {
    width: 100%;
}

ul li {
    list-style-type: disc;
}

#top-flashy {
    color: rgb(13, 0, 255);
}

.col {
    padding: 0;
}

.thumbnail img {
    margin: 20px;
    width: 200px;
    height: 200px;
}

#target-num {
    color: purple;
    font-size: 2.5 em;
}

#total-num {
    color: purple;
    font-size: 2.5 em;
}

#reset-button {
    display: none;
    float: right;
    width: 50%;
}


@media only screen and (max-width: 700px) {
    .thumbnail img {
        margin: 20px;
        width: 150 px;
    }
  }

  @media only screen and (max-width: 500px) {
    .thumbnail  {
        margin: 10px;
        width: 100 px;
    }
  }